
<ul id="dropdown1" class="dropdown-content">
  <!-- <li><a href="/auth/logout" target="_self">logout<i class="close material-icons right">close</i></a></li> -->
  <li><a ng-if="currentUser" class="waves-effect" href="/auth/logout" target="_self">Logout</a></li>
</ul>

<div class="fixed-action-btn hide-on-small-and-down">
    <a class="btn-floating btn-large red" ng-class="{pulse: recommendations.length && !showing_recommendations }"
    ng-click="toggleRecommendations()">
      <i class="large material-icons">movie</i>
    </a>
    <!-- <ul>
      <li><a class="btn-floating red tooltipped" data-position="left" data-delay="5" data-tooltip="recommend"><i class="material-icons">insert_chart</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul> -->
  </div>

<!-- <nav class="searchbar" ng-hide="hidesearchbar" ng-init="hidesearchbar=true">
  <form>
    <div class="input-field">
      <input id="search" type="search" required>
      <label class="label-icon" for="search"><i class="material-icons">search</i></label>
      <i class="material-icons" ng-click="hidesearchbar=true;hidenavbar=false;">close</i>
    </div>
  </form>
</nav>

<nav ng-hide="hidenavbar" ng-init="hidenavbar=false">
  <div class="nav-wrapper">
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
    <a href="#" class="brand-logo">Logo</a>

    <ul class="right hide-on-med-and-down">
      <li><a ng-click="hidesearchbar=false;hidenavbar=true;$('.searchbar').focus();"><i class="material-icons left">search</i>Search</a></li>
      <li class="dropdown-button">
        <a ng-if="!currentUser" href="/auth/facebook">Facebook Login</a>
        <a ng-if=" currentUser" href="#!" data-activates="dropdown1">{{currentUser.name}}<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>

    <ul class="right">
      <li class="row"><form class="col s12"><div class="col s12 input-field">
        <input id="search" type="search" required>
        <label class="label-icon" for="search">Search<i class="material-icons">search</i></label>
        <i class="material-icons" ng-click="hidesearchbar=true;hidenavbar=false;">close</i>
      </div></form></li>
    </ul>

    <ul id="slide-out" class="side-nav">
      <li>
        <div class="userView">
          <div class="background">
            <img src="http://materializecss.com/images/office.jpg">
          </div>
          <img class="circle" src="{{currentUser.picture}}">
          <span class="white-text name">{{currentUser.name}}</span>
          <span class="white-text email">{{currentUser.email}}</span>
        </div>
      </li>
      <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
      <li><a href="#!">Second Link</a></li>
      <li>
        <div class="divider"></div>
      </li>
      <li><a class="subheader">Subheader</a></li>
      <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
    </ul>
  </div>
</nav> -->

<nav class="nav-fixed">
  <div class="nav-wrapper">
    <div class="container">

      <div class="row">
        <div class="col s4">
          <span class="brand-logo">
            <!-- <img class="responsive-img" src="/images/nemotp.png"> -->
            nemo</span>
          <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>

        <!-- <div class="col s4 hide-on-med-and-down">
          <form>
            <div class="input-field">
              <input id="search" type="search" required>
              <label class="label-icon" for="search"><i class="material-icons">search</i>
              </label>
              <i class="material-icons closed">close</i>
            </div>
          </form>
        </div> -->

        <div class="col s2 offset-s6 hide-on-med-and-up" ng-if="recommendations.length">
          <i class="small material-icons" ng-click="toggleRecommendations()">movie</i>
        </div>

        <div class="col s4 offset-s4 hide-on-small-and-down">
          <ul class="right">
            <li>
              <a ng-if="!currentUser" href="/auth/facebook" target="_self">Facebook Login</a>
              <a class="dropdown-button" data-activates="dropdown1">{{currentUser.name}}<i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
        </div>
      </div>

      <ul id="mobile-menu" class="left side-nav">
        <li>
          <div class="userView">
            <div class="background">
              <img src="http://materializecss.com/images/office.jpg">
            </div>
            <div ng-if="currentUser">
              <img  class="circle" ng-src="{{currentUser.picture}}">
              <span class="white-text name">{{currentUser.name}}</span>
              <span class="white-text email">{{currentUser.email}}</span>
            </div>
            <div ng-if="!currentUser">
              <a class="btn-floating waves-effect waves-light btn-large red no-padding"><i class="material-icons">person_pin</i></a>
              <a class="waves-effect waves-light btn blue"href="/auth/facebook" target="_self">Facebook login
              <i class="material-icons">person_pin</i></a>
            </div>
          </div>
        </li>
        <!-- <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
        <li><a href="#!">Second Link</a></li>
        <li>
          <div class="divider"></div>
        </li>
        <li><a class="subheader">Subheader</a></li> -->
        <li>  <a class="waves-effect" ng-class="{pulse: recommendations.length && !showing_recommendations }"
          ng-click="toggleRecommendations()">Recommendations
            <i class="large material-icons right">movie</i>
          </a></li>
        <li>
          <div class="divider"></div>
        </li>
        <li><a ng-if="currentUser" class="waves-effect" href="/auth/logout" target="_self">Logout
          <i class="large material-icons right">power_settings_new</i></a></li>
      </ul>

    </div>
  </div>
</nav>

<div class="container col s12">
  <div class="container">

    <div class="valign-wrapper center-align" style="height: 90vh">

      <!--Loader -->
      <div class="container col s4 offset-s4 preloader-wrapper big active" ng-if="movies.length < 1">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      <!--Loader end-->

      <!--Main content &#45;&#45; replaces loader-->
      <div ng-if="movies.length > 0">

        <!--Above movie card content-->

        <!-- <div class="container col s4 offset-s4 center-align">
          <div class="row">
            <div ng-if="!currentUser" class="chip">
              <a href="/auth/facebook" target="_self">facebook login &nbsp;<i class="fa fa-facebook"></i></a>
            </div>
            <div ng-if="currentUser" class="chip">
              <img ng-src="{{currentUser.picture}}" alt="user"> {{currentUser.name}}
              <a href="/auth/logout" target="_self"><i class="close material-icons right" >close</i></a>
            </div>
          </div>
        </div> -->
        <!--Above movie card content end-->

        <!--Movie card for large screens-->
        <div class="col l10 offset-l1 m4 offset-m4  hide-on-small-and-down">
          <div class="card horizontal z-depth-5 sticky-action" ng-class="{ 'z-depth-5-red' : showing_recommendations }">
            <div class="card-image waves-effect waves-block waves-light">
              <img ng-src="{{ 'https://image.tmdb.org/t/p/w300' + m.poster_path }}">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <span class="card-title">{{m.title}}</span>

                <jk-rating-stars rating="m.vote_average/2" read-only="true" max-rating="5" class="nemo-stars"></jk-rating-stars>
                <a class="btn-flat disabled">{{m.release_date.split('-')[0]}}</a>
                <p class="text-flow">{{m.overview | limitTo:150}}{{m.overview.length > 150 ? '...' : ''}}</p>
              </div>
              <div class="card-content">
                <div class="chip tooltipped" ng-repeat="cast in m.cast | limitTo:5" data-position="top" data-delay="5" data-tooltip="{{cast.character}}"  ng-if="m.cast">
                  {{cast.name}}
                </div>

                <div class="container col s2 offset-s5 preloader-wrapper small active" ng-if="!m.cast">
                  <div class="spinner-layer spinner-green-only">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                      <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>
                </div>
              </div>

              <!--Insert tabs here-->
              <div class="card-action row no-padding-bottom valign-wrapper" style="margin-bottom:0;">
                <div class="col s6 left-align">
                  <a class="badge" ng-if="m.genre_ids" ng-repeat="(i,id) in m.genre_ids | limitTo:3">
                    {{genres[id]}}
                  </a>
                  <a class="badge" ng-if="m.genres" ng-repeat="genre in m.genres | limitTo:3">
                    {{genre.name}}
                  </a>
                </div>
                <div class="col s6 right-align">
                  <a ng-if="!currentUser" class="waves-effect waves-light btn blue" href="/auth/facebook" target="_self">fb login
                  <i class="material-icons right">person_pin</i></a>

                  <a ng-if="currentUser" ng-class="{disabled: responding}" class="btn-floating waves-effect waves-light red">
                    <i class="material-icons small" ng-click="respond({'movie_id' : m.id, 'type' : 'dislike'});">thumb_down</i></a>
                  <a ng-if="currentUser" ng-class="{disabled: responding}" class="btn-floating waves-effect waves-light green">
                    <i class="material-icons small" ng-click="respond({'movie_id' : m.id, 'type' : 'like'});">thumb_up</i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Movie card end-->

        <!--Movie card for small screens-->
        <div class="col s12 hide-on-med-and-up">
          <div class="card z-depth-5 sticky-action" ng-class="{ 'z-depth-5-red' : showing_recommendations }">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" ng-src="{{ 'https://image.tmdb.org/t/p/w300' + m.poster_path }}">
            </div>
            <div class="card-reveal">
              <!-- <div class="card-content"> -->
                <span class="card-title"><i class="card-title material-icons right">close</i>{{m.title}}</span>
                <jk-rating-stars rating="m.vote_average/2" read-only="true" max-rating="5" class="nemo-stars"></jk-rating-stars>
                <a class="btn-flat disabled">{{m.release_date.split('-')[0]}}</a>
                <p class="text-flow">{{m.overview | limitTo:150}}{{m.overview.length > 150 ? '...' : ''}}</p>
              <!-- </div> -->

              <!-- <div class="card-content"> -->
                <div class="chip tooltipped" ng-repeat="cast in m.cast | limitTo:5" data-position="top" data-delay="5" data-tooltip="{{cast.character}}"  ng-if="m.cast">
                  {{cast.name}}
                </div>

                <div class="container col s2 offset-s5 preloader-wrapper small active" ng-if="!m.cast">
                  <div class="spinner-layer spinner-green-only">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                      <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>
                </div>
              <!-- </div> -->

            </div>
            <div class="card-action row no-padding-bottom valign-wrapper" style="margin-bottom:0;">
              <div class="col s5 left-align">
                <a class="badge" ng-if="m.genre_ids" ng-repeat="(i,id) in m.genre_ids | limitTo:3">
                  {{genres[id]}}
                </a>
                <a class="badge" ng-if="m.genres" ng-repeat="genre in m.genres | limitTo:3">
                  {{genre.name}}
                </a>
              </div>
              <div class="col s7 right-align">

                <a ng-if="!currentUser" class="waves-effect waves-light btn blue" href="/auth/facebook" target="_self">fb login
                <i class="material-icons right">person_pin</i></a>

                <a ng-if="currentUser" ng-class="{disabled: responding}" class="btn-floating btn-large waves-effect waves-light red">
                  <i class="material-icons" ng-click="respond({'movie_id' : m.id, 'type' : 'dislike'});">thumb_down</i></a>
                <a ng-if="currentUser" ng-class="{disabled: responding}" class="btn-floating btn-large waves-effect waves-light green">
                  <i class="material-icons" ng-click="respond({'movie_id' : m.id, 'type' : 'like'});">thumb_up</i></a>
              </div>
            </div>
          </div>
        </div>
        <!--Movie card end-->


      </div>
      <!--Main content end-->

    </div>
  </div>
</div>

<script>
  $(".button-collapse").sideNav();
  $(".dropdown-button").dropdown();
</script>
