<div class="container-fluid col-md-4 offset-md-4 text-center">
    <!--<div class="form-inline">-->
        <!--<input type="text" class="form-control" placeholder="Nemo" ng-model="query">-->
        <!--<button class="btn btn-primary" ng-click="searchWithQuery(query)" type="submit"> Get Movies</button>-->
    <!--</div>-->

    <a ng-if="!currentUser" href="/auth/facebook" target="_self" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
    <span ng-if="currentUser" class="text-white">Welcome {{currentUser.name.split(' ')[0]}} !</span>
    <a ng-if="currentUser" href="/auth/logout" target="_self" class="btn btn-danger"><span class="fa fa-facebook"></span> Logout</a>

</div>

<div class="card-tray">
    <ul>
        <li ng-repeat="m in movies" ng-class="$index == 0 ? 'visible' : ($index == 1 ? 'arriving' : ($index == 2 ? 'onhold' : 'hide'))" class="card-wrapper"
            card-index="{{ $index }}">
            <div class="card">
                <div class="img-wrapper">
                    <img class="img-responsive" ng-src="{{ 'https://image.tmdb.org/t/p/w300' + m.poster_path }}"
                          alt="Movie Poster">
                </div>
                <div class="movieinfo">
                    <div class="infotop">
                        <div class="infoleft pull-left">
                            <h4 class="card-title">{{ m.title +' ('+m.release_date.split('-')[0]+')' }}</h4>
                            <jk-rating-stars rating="m.vote_average/2" read-only="true"
                                             max-rating="5"></jk-rating-stars>
                            <span class="vote_count">({{ m.vote_count }} votes)</span>
                        </div>
                        <div class="inforight pull-right">
                            <div ng-if="m.adult === true" class="is_adult text-center">
                                A
                            </div>
                            <div ng-if="m.adult === false" class="is_uni text-center">
                                U
                            </div>
                        </div>
                    </div>
                    <h3 class="blockheading">Overview</h3>
                    <p class="card-text overview">{{ m.overview }}</p>
                    <div class="cast">
                      <h3 class="blockheading">Star Cast</h3>
                      <div ng-repeat="actor in m.cast.slice(0,8)" class="cast-block">
                        <p class="actor-name">
                          {{ actor.name }}
                        </p>
                        <p class="character-name">
                          {{ actor.character }}
                        </p>
                      </div>
                    </div>
                    <div class="button-holder">
                      <button type="button" ng-click="respond({'movie_id' : m.id, 'type' : 'dislike'}); LetsPlay($event)" class="btn btn-sm btn-danger ignore" movie="{{ m.id }}" status="ignore">Ignore</button>
                      <button type="button" ng-click="respond({'movie_id' : m.id, 'type' : 'like'in}); LetsPlay($event)" class="btn btn-sm btn-primary like" movie="{{ m.id }}" status="like">Like</button>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
