/*font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;*/
body {
  padding-top:30px;
  background-color: #2c3e50;
  background-image: url("./../images/video-camera.svg");
  background-repeat: repeat;
  overflow: hidden;
}
.show{
  display: block !important;
}
.hide{
  display: none !important;
}
.card-wrapper {
  position: absolute;
  top: 10em;
  left: 0%;
  width: 100%;
}
.card{
  max-width: 60%;
  margin: auto;
  max-height: 24em;
  padding: 0;
  border-radius: 3px;
  border: none;
  overflow: hidden;
  box-shadow: 5px -5px 10px 0px rgba(53, 53, 53, 0.45);
}
.card .img-wrapper{
  /*height: 28em;*/
  overflow: hidden;
  width: 34%;
  display: inline-block;
}
.card .img-wrapper img{
  object-fit: cover;
  object-position: center;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  /*height: 28em;*/
}
.card .movieinfo{
  width: 65%;
  display: inline-block;
  vertical-align: top;
  padding: 0.5em 0.5em 0.5em 0.5em;
}
.card .movieinfo .cast{
  margin-top: 1em;
}
.card .movieinfo .cast-block {
  display: inline-table;
  text-align: left;
  table-layout: auto;
  width: 24%;
}
.card .movieinfo .cast-block .actor-name{
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  color: #484848;
  margin-bottom: -4px;
}
.card .movieinfo .cast-block .character-name{
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  color: #777;
  margin-bottom: 0px;
}
.card .movieinfo .overview{
  font-size: 0.7em;
  font-family: 'Open Sans';
  line-height: 1.5em;
  color: #777;
  margin-top: 1em;
}
.card .movieinfo .card-title {
  margin-bottom: 0.15rem;
  font-weight: 100;
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
}
.card .movieinfo .infotop .infoleft{
  display: inline-block;
  width: 80%;
  vertical-align: top;
}
.card .movieinfo .infotop .infoleft .vote_count{
  display: inline-block;
  vertical-align: middle;
  font-size: 0.7em;
  font-weight: 100;
  font-family: 'Lato';
  color: #828282;
}
.card .movieinfo .infotop .inforight{
  display: inline-block;
  width: 19%;
  vertical-align: top;
  text-align: right;
}
.card .movieinfo .infotop .inforight .is_adult{
  font-family: 'Lato', sans-serif;
  text-align: center;
  line-height: 2em;
  border: 2px solid #d9534f;
  display: initial;
  color: #d9534f;
  border-radius: 40px;
  padding: 0.3em 0.6em 0.3em 0.6em;
  font-weight: 600;
  font-size: 1.5em;
}
.card .movieinfo .infotop .inforight .is_uni{
  font-family: 'Lato', sans-serif;
  text-align: center;
  line-height: 2em;
  border: 2px solid #429e7a;
  display: initial;
  color: #429e7a;
  border-radius: 40px;
  padding: 0.3em 0.6em 0.3em 0.6em;
  font-weight: 600;
  font-size: 1.5em;
}
.jk-rating-stars-container{
  font-size: 0px;
  display: inline-block;
  vertical-align: middle;
}
.jk-rating-stars-container .button .material-icons {
  font-size: 16px;
}
.blockheading {
  font-size: 14px;
  font-weight: 600;
  font-family: Lato;
  margin-bottom: 0.8em;
  position: relative;
  margin-top: 1em;
}
.blockheading::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 9%;
  background-color: rgba(2, 117, 216, 0.93);
  bottom: -6px;
  left: 0px;
}
.liked{
  /*transition: 0.s ease all;*/
  animation-name: liked;
  animation-timing-function: linear;
  animation-duration: 0.6s;
  z-index: 3;
  /*display: none;*/
}
@keyframes liked {
  5%{
    left: 5em;
    opacity: 1;
  }
  20%{
    left: 10em;
    opacity: 1;
  }
  40%{
    left: 20em;
    opacity: 1;
  }
  50%{
    left: 30em;
    opacity: 1;
  }
  70%{
    left: 40em;
    opacity: 0.6;
  }
  80%{
    left: 50em;
    opacity: 0.2;
  }
  100%{
    left: 60em;
    opacity: 0;
    display: none;
  }
}
.ignored{
  /*transition: 0.s ease all;*/
  animation-name: ignored;
  animation-timing-function: linear;
  animation-duration: 0.6s;
  z-index: 3;
  /*display: none;*/
}
@keyframes ignored {
  5%{
    left: -5em;
    opacity: 1;
  }
  20%{
    left: -10em;
    opacity: 1;
  }
  40%{
    left: -20em;
    opacity: 1;
  }
  50%{
    left: -30em;
    opacity: 1;
  }
  70%{
    left: -40em;
    opacity: 0.6;
  }
  80%{
    left: -50em;
    opacity: 0.2;
  }
  100%{
    left: -60em;
    opacity: 0;
    display: none;
  }
}
.visible{
  z-index: 3;
  transition: 0.6s ease all;
}
.arriving{
  z-index: 2;
  top: 9.6em;
  left: 0.5em;
  transition: 0.6s ease all;
}
.onhold{
  z-index: 1;
  top: 9.3em;
  left: 0.8em;
  animation-name: arrival;
  animation-timing-function: linear;
  animation-duration: 0.6s;
}
@keyframes arrival {
  1%{
    opacity: 0.1;
    top: 9.0em;
    left: 1.1em;
  }
  /*20%{*/
    /*opacity: 0.2;*/
  /*}*/
  /*30%{*/
    /*opacity: 0.3;*/
    /*!*top: 8.1em;*!*/
    /*left: 2.4em;*/
  /*}*/
  /*40%{*/
    /*opacity: 0.4;*/
  /*}*/
  /*50%{*/
    /*opacity: 0.5;*/
    /*!*top: 8.3em;*!*/
    /*left: 2em;*/
  /*}*/
  /*60%{*/
    /*opacity: 0.6;*/
  /*}*/
  /*70%{*/
    /*opacity: 0.7;*/
    /*!*top: 8.6em;*!*/
    /*left: 1.8em;*/
  /*}*/
  /*80%{*/
    /*opacity: 0.8;*/
  /*}*/
  /*90%{*/
    /*opacity: 0.9;*/
  /*}*/
  100%{
    opacity: 1.0;
    top: 9.3em;
    left: 0.8em;
  }
}
